DJANGO_ENV=prod
DJANGO_SECRET_KEY=PEGAR_LA_SECRET_KEY_GENERADA
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=tu-dominio.com,www.tu-dominio.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://tu-dominio.com,https://www.tu-dominio.com

DB_ENGINE=postgres
POSTGRES_DATABASE=expo_kiosk
POSTGRES_USER=expo_kiosk_user
POSTGRES_PASSWORD=LA_PASSWORD_DE_POSTGRES
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
DB_CONN_MAX_AGE=60

DEFAULT_EMPRESA_CODE=VALTRA_FENDT
DEFAULT_KIOSK_BRAND=fendt
DEFAULT_TOTEM_ID=TOTEM_FENDT
KIOSK_TOTEM_ID_FENDT=TOTEM_FENDT
KIOSK_TOTEM_ID_VALTRA=TOTEM_VALTRA
KIOSK_TOTEM_ID_MASSEY=TOTEM_MASSEY
KIOSK_IDLE_SECONDS=45

# CAMBIAR este PIN antes del evento real
SUPPORT_REPRINT_PIN=4832
KIOSK_SPECIAL_GUEST_NAMES=Laura Navas,Gesica Pieditorti

POOL_STOCK_TOTEM_VALTRA_DESAYUNO=100
POOL_STOCK_TOTEM_VALTRA_ALMUERZO=100
POOL_STOCK_TOTEM_VALTRA_MERIENDA=100
POOL_STOCK_TOTEM_VALTRA_POSTRE=121
POOL_STOCK_TOTEM_FENDT_DESAYUNO=20
POOL_STOCK_TOTEM_FENDT_ALMUERZO=20
POOL_STOCK_TOTEM_FENDT_MERIENDA=20
POOL_STOCK_TOTEM_FENDT_POSTRE=121
POOL_STOCK_TOTEM_MASSEY_DESAYUNO=121
POOL_STOCK_TOTEM_MASSEY_ALMUERZO=120
POOL_STOCK_TOTEM_MASSEY_MERIENDA=120
POOL_STOCK_TOTEM_MASSEY_POSTRE=121

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=False
DJANGO_LOG_LEVEL=INFO
