DJANGO_ENV=dev
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=your-domain.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://your-domain.com

DB_ENGINE=mysql
MYSQL_DATABASE=expo_kiosk
MYSQL_USER=expo_kiosk_user
MYSQL_PASSWORD=CHANGE_ME_STRONG_PASSWORD
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3307
DB_CONN_MAX_AGE=60

DEFAULT_EMPRESA_CODE=DEFAULT
DEFAULT_TOTEM_ID=TOTEM-01
KIOSK_IDLE_SECONDS=45
POOL_STOCK_FIJOS_DESAYUNO=120
POOL_STOCK_FIJOS_ALMUERZO=120
POOL_STOCK_INVITADOS_DESAYUNO=120
POOL_STOCK_INVITADOS_ALMUERZO=120
ALMUERZO_INVITADOS_ILIMITADOS=Emiliano Ferrari,Luna arcamone,Facundo Guzman,Gesica pieditorti

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=False
DJANGO_LOG_LEVEL=INFO
